[MESSAGES CONTROL]

# Explanations for the ignored messages:
# consider-using-f-string:
# As long as we support Python 2, we cannot use f-strings. This can be removed
# when Python 2 support is dropped.
#
# super-with-arguments:
# As long as we support Python 2, the arguments are needed. This can be removed
# when Python 2 support is dropped.
#
# useless-object-inheritance:
# We want to keep the new-style classes for Python 2 also when it isn't
# strictly necessary and then do a cleanup when Python 2 support is dropped.
#
# raise-missing-from:
# Python2 does not support raise...from.
disable=consider-using-f-string, super-with-arguments, useless-object-inheritance, raise-missing-from

extension-pkg-whitelist=lxml
