
module dpres-sip-compiler-selinux 1.0;

require {
	type chkpwd_t;
	type user_devpts_t;
	class chr_file { read write };
}

#============= chkpwd_t ==============
allow chkpwd_t user_devpts_t:chr_file { read write };
